<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="file" fileName="fca.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </appenders>
    <loggers>
        <logger name="com.foo.Bar" level="trace">
            <appender-ref ref="Console"/>
        </logger>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
        <root level="all">
            <appender-ref ref="file"/>
        </root>
    </loggers>
</configuration>